body {
    background-color: aquamarine;
    /*background: url(../images/eshera0.png) scroll no-repeat;*/
    background-size: 100%;
}



button {
    position: absolute;
    left: 50%;
    top: 50%;

}